{% extends 'base.html' %}

{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
</head>

{% block content %}

<div class="container">
    <div class="header">
        <h1>Library Inventory</h1>
        <h5>Name: {{ name }}</h5>
        <h5>Class: {{ class }}</h5>

        <p>Kamu telah menambahkan {{ books|length }} buku pada aplikasi ini.</p>

    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Book Name</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Date Added</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in books %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>
                            <a href="{% url 'main:reduce-stock' item.id %}">-</a>
                            {{ item.amount }}
                            <a href="{% url 'main:add-stock' item.id %}">+</a>
                        </td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.date_added }}</td>
                        <td class="actions">
                            <a href="{% url 'main:delete-item' item.id %}">Delete Book</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="add-book-button">
        <a href="{% url 'main:added-books' %}">Add New Book</a>
    </div>

    <div class="logout-button">
        <a href="{% url 'main:logout' %}">Logout</a>
    </div>

    <h5>Sesi terakhir login: {{ last_login }}</h5>
</div>

{% endblock content %}